{% extends '_base.html' %}

{% block title %} Post list {% endblock %}

{% block content %}

    <main role="main">

        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3 text-center">User posts.</h1>
            </div>
        </div>

        <div class="container">
            <div class="row">
                {% if post_list %}
                   {% for post in post_list %}
                        <div class="col-md-4">
                            <h2><a href="#demo{{ forloop.counter }}" data-toggle="collapse">
                                {{ post.title|truncatewords:2|linebreaks }}</a></h2>
                            <div id="demo{{ forloop.counter }}" class="collapse font-italic font-weight-bold">{{ post.title|linebreaks }}</div>

                            {% include 'blog/_teg.html' %}

                            <p>{{ post.body|truncatewords:30|linebreaks }}</p>
                            <p>
                                <a class="btn btn-secondary" href="{{ post.get_absolute_url }}" role="button">
                                View details &raquo;</a>
                                {% if user.is_authenticated %}
                                <a class="btn btn-info" href="{% url 'blog:edit_post' post.id %}" role="button">
                                Edit post &raquo;</a>
                                {% endif%}
                            </p>
                        </div>
                  {% endfor %}

                  {% else %}
                  <p>In db are not posts</p>
                {% endif %}
            </div>

                {% include '_paginate.html' with page=page_obj %}
        </div>

    </main>

{% endblock %}