{% extends '_base.html' %}

{% block title %} Post detail {% endblock %}

{% block content %}

<main role="main">

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-5">Post's name: {{ post.title }}</h1>

                {% if post.teg.all %}
                    <ul class="list-group list-group-horizontal">
                        {% for teg in post.teg.all %}
                            <li class="list-group">
                                <a href="{% url 'blog:post_list_for_teg' teg %}" class='text-dark'>
                                    {{ teg }}</a>
                            </li><span>&emsp;</span>
                        {% endfor %}
                    </ul>
                {%endif%}

            <a href="#add-teg" data-toggle="collapse" class="text-dark">
                <button type="button" class="btn btn-outline-secondary">
                    Add teg <i class="fa-solid fa-angles-down"></i></button>
            </a>
            <div id="add-teg" class="collapse">
                <form action="" method="post" id="teg">
                    {% csrf_token %}
                    <table>
                    {{ teg_form.as_p }}
                    </table>

                    <input type="submit" value="Add teg" class="btn btn-secondary" form="teg"/>
                </form>
            </div>
    </div>
    </div>


    <div class="container">
        {% include '_message.html' %}
        {% include '_go_back.html' %}

          <p><strong>Author:</strong> {{ post.author.first_name }} {{ post.author.last_name }}, {{ post.author.email }},
              {% if post.author.last_login %}
                last visit - {{ post.author.last_login }}
              {% else %}{% endif %}</p>
          <p><strong>Body:</strong> {{ post.body|linebreaks }}</p>
          <p><strong>Created:</strong> {{ post.created }}</p>
          <p><strong>Updated:</strong> {{ post.updated }}</p>
          <p><strong>Status:</strong> {{ post.status }}</p>


        <a href="#add-comment" data-toggle="collapse" class="text-dark">
            <button type="button" class="btn btn-outline-secondary">
                Add comment <i class="fa-solid fa-angles-down"></i></button>
        </a>
        <div id="add-comment" class="collapse">
            <form action="" method="post" id="post">
                {% csrf_token %}
                <table>
                {{ comment_form.as_table }}
                </table>
                <input type="submit" value="Add comment" class="btn btn-secondary" form="post"/>
            </form>
        </div>


                {% with comments.count as total_comments %}
            {% if not total_comments%}
                <button type="button" class="btn btn-outline-info">
                    {{ total_comments }} comment{{ total_comments|pluralize }}
                </button>

            {% else %}
            <a href="#demo" data-toggle="collapse" class="text-dark">
                <button type="button" class="btn btn-outline-info">
                    {{ total_comments }} comment{{ total_comments|pluralize }} <i class="fa-solid fa-angles-down"></i>
                </button>
            {% endif %}
                {% endwith %}
        </a>
        <div id="demo" class="collapse">
                {% for comment in comments %}
                        <p class="info font-weight-bold">
                            Comment {{ forloop.counter }} by <span class="text-capitalize">{{ comment.name }}.</span></p>
                        <p class="font-weight-normal">{{ comment.body|linebreaks }}</p>
                        <p class="font-italic small">Data: {{comment.created}}</p>
                <hr>
                {% endfor %}
        </div>

    </div>
</main>

{% endblock %}


