.dropdown:hover .dropdown-menu {
    display: block;
}

footer {
  color: #fff;
}

/* comments */
.comment {
    padding:10px;
}
.comment:nth-child(even) {
    background:#efefef;
}
.comment .info {
    font-weight:bold;
    font-size:12px;
    color:#666;
}
