{% extends 'weather/_base_weather.html' %}


{% block title %}
  {{ title }}
{% endblock %}


{% block page_content %}

<div class="page-header">
  <h1>All cities.</h1>
</div>
{% include 'messages.html' %}


<div class="table-responsive">

<button type="button" class="btn btn-primary" id="selectButton" onclick="toggle()">Select all</button>
<button type="submit" class="btn btn-danger" form="cityForm">Delete</button>

    <form action="{{ url_for('weather.delete') }}" method="post" id="cityForm">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="table-responsive">
            <table class="table table-hover table-striped" id="userTable">
                <thead>
                    <tr>
                        <th scope="col">Select</th>
                        <th scope="col">#</th>
                        <th scope="col">City</th>
                        <th scope="col">Country</th>
                        <th scope="col">latitude</th>
                        <th scope="col">longitude</th>
                        <th scope="col">sky</th>
                        <th scope="col">temperature</th>
                        <th scope="col">wind_speed</th>
                        <th scope="col">img</th>
                    </tr>
                </thead>
                <tbody>
                {% for city in cities %}
                    <tr>
                        <td><input type="checkbox" name="selectors" class="checkbox" value="{{ city[0] }}"/></td>
                        <td>{{ loop.index + pagination.skip }}</td>
                        <td><a href="https://www.google.com.ua/maps/place/{{ city[1].city_name }}/
                        @{{ city[1].latitude }},{{ city[1].longitude }}" target="_blank"
                               rel="noopener noreferrer nofollow">{{ city[1].city_name }}</a></td>
                        <td>{{ city[1].country_name }}</td>
                        <td>{{ city[1].latitude }}</td>
                        <td>{{ city[1].longitude }}</td>
                        <td>{{ city[1].sky }}</td>
                        <td>{{ city[1].temperature }}</td>
                        <td>{{ city[1].wind_speed }}</td>
                        <td><img src="{{ city[1].icon_url }}" alt="{{ city[1].icon_url }}" width="40"></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <input type="hidden" name="page" value="{{ pagination.page}}">
        {{ pagination.info}}
        {{ pagination.links }}
    </form>
</div>

{% endblock page_content %}