{% extends '_base.html' %}

{% block title %} Post detail {% endblock %}

{% block content %}

<main role="main">

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-5">Post's name: {{ post.title }}</h1>
        </div>
    </div>

    <div class="container">
        {% include '_go_back.html' %}

          <p><strong>Author:</strong> {{ post.author.first_name }} {{ post.author.last_name }}, {{ post.author.email }},
              {% if post.author.last_login %}
                last visit - {{ post.author.last_login }}
              {% else %}{% endif %}</p>
          <p><strong>Body:</strong> {{ post.body }}</p>
          <p><strong>Publish:</strong> {{ post.publish }}</p>
          <p><strong>Created:</strong> {{ post.created }}</p>
          <p><strong>Updated:</strong> {{ post.updated }}</p>
          <p><strong>Status:</strong> {{ post.status }}</p>
    </div>


</main>

{% endblock %}


