{% extends '_base.html' %}


{% block title %}
  {{ title }}
{% endblock title %}

{% block menuline %}
    {{ super() }}
    <ul class="nav navbar-nav">
        <li class="navbar-brand">|</li>
        <li class="navbar-brand">Weather:</li>
        <li><a class='action' href="{{ url_for('weather.index') }}">Home</a></li>
        <li><a class='action' href="{{ url_for('weather.show_cities') }}">Show cities</a></li>
        <li><a class='action' href="{{ url_for('weather.show_capitals') }}">Capitals</a></li>
    </ul>
{% endblock %}


{% block content %}
<div class="container">
    {% block page_content %}{% endblock %}
</div>
{% endblock %}
